name: Deploy

on:
  push:
    branches:
      - main

jobs:
  run-sst:
    runs-on: ubuntu-latest

    steps:
      - name: Vercel Deploy
        run: npx vercel deploy --yes --token=${{ secrets.VERCEL_TOKEN }} --prod --scope=rocicorp
